---
interface Props {
    tab?: [{
        title: string;
        href: string;
        align: "start" | "end";
    }];
    exclude?: string;
    classes?: string;
}
const { tab, exclude, classes } = Astro.props;

import Tab from "./Tab.astro";
import tabData from "../data/raw/dataTabs.json"
import { ViewTransitions } from "astro:transitions";
---
<ViewTransitions fallback="none"/>
<div role="list" id="tab-bar" class="tab-bar" transition:name="tab-bar">
    {
        tab && tab.map((item) => 
            item.align === "start" &&
            <Tab title={item.title} href={item.href}/>
        )
    }
    {
        tabData.map((item) => 
            exclude !== item.title &&
            <Tab title={item.title} href={item.href}/>
        )
    }
    {
        tab && tab.map((item) => 
            item.align === "end" &&
            <Tab title={item.title} href={item.href}/>
        )
    }
</div>
<style is:global>
    .tab-bar {
        container-type: inline-size; /* to set tab font-size relative to tab-bar width */
        justify-content: space-evenly;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        overflow: hidden;
        margin-left: auto;
        padding-right: 1vw;

        width: 55%;
        max-width: 100%;
        height: 100%;

        position: relative;
    }
</style>
