---
interface Props {
    company         :string;
    title           :string;
    description     ?:string;
    date_start      :Date;
    date_end        :Date;
}
const {company,title,description,date_start,date_end} = Astro.props;
---

<div class="work-card">
    <div class="work-card-branch">
        <div class="branch"/>
    </div>

    <div class="work-card-content">
        <h2>{company}</h2>
        <h3>{title}</h3>
        <p>{date_start.getFullYear()} - {date_end.getFullYear()}</p>
        <p>{description}</p>
    </div>
</div>

<style>
    
    .work-card {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    /*
    .work-card-container::after{
        clearfix 
        content: "";
        clear: both;
        display: table;
        
    }
    */
    .work-card-branch {
        width: 20%;
        height:auto;
        
        background-color: var(--color2);
    }
    .work-card-content {
        width: 80%;
        height: auto;
    }
    
</style>