---
import Branch from './Branch.astro';
import Knot from './Knot.astro';
interface Props {
    company         :string;
    title           :string;
    description     :string;
    date_start      :Date;
    date_end        :Date;
    index           ?:number;
}
const {company,title,description,date_start,date_end,index} = Astro.props;
---

<div class="work-card">
    <div class="work-card-tree">
        <div class="master-branch">
            <div class="line"/>
            <Knot diameter=1em color=var(--color2) x_loc=right y_loc=top isHollow />
            <Knot diameter=1em color=var(--color2) x_loc=right y_loc=bottom isHollow />
        </div>
        <div class="branches">
            <!-- for later with branches implemented 😔 -->
        </div>
       
    </div>

    <div class="work-card-content">
        <h2>{company}</h2>
        <h3>{title}</h3>
        <p>{date_start.getFullYear()} - {date_end.getFullYear()}</p>
        <p>{description}</p>
    </div>
</div>
<style>
    .work-card {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .work-card-content:hover, .work-card-content:active, .work-card:has(.line:hover) .work-card-content {
        background-color: var(--color3);
        border-radius: 10px;
    }
    .work-card-tree {
        width: 10%;
        height:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-right: 3vw;
    }
    .work-card-tree > div {
        height: 100%;
        position: relative;
    }
    .master-branch {
        width: 40%;
    }
    .line {
        position: absolute;
        left: calc(100% - 0.5em / 2);
        width: 0.5em;
        height: 100%;
        background-color: var(--color2);
        z-index: 1;
    }
    .branches {
        z-index: 0;
        height: 100%;
        width: 60%;
    }
    .work-card-content {
        width: 90%;
        height: auto;
        
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;

        border-left: 5px solid;
        border-color: var(--color0);
        
        transition: 0.5s;
        transition-timing-function:cubic-bezier(0,.68,.7,.67)
    }
    .work-card-content > p {
        white-space: pre-wrap;
    }
    
</style>